main.perfil{
    padding: 120px 100px 80px;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
div.chat{
    position: fixed;
    bottom: 0;
    right: 0;
}
div.chat > button{
    font-size: 2em;
    color: #dee8f1;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 30px;
    background: #1e0027;
    transition: .4s;
}
div.chat > button:hover{
    background: #dee8f1;
    color: #1e0027;
}
div.chat > button > i{
    overflow-y: hidden;
}